body{
    background-color:firebrick;
}

#textbox{
    width: 800px;
    height: 150px;
    border: 1px solid silver;
    margin: 0 auto;
    margin-top:10px;
    background-color: wheat;
}

#inventory{
    width: 800px;
    height: 60px;
    background-color: grey;
    z-index: 1;
    margin-top: 5px;
    margin: 0 auto;
    border: 1px solid silver;
}

#arena{
    margin: 0 auto;
    margin-top: 10px;
    width: 800px;
    height: 520px;
}

#game-canvas{
    border: 1.5px solid silver;
    width: 800px;
    height: 500px;
}

#score{
    font: 46px fantasy;
    text-align: center;
    color: #ff0;
    text-shadow: 2px 2px 4px rgba(0, 0, 80, 1.0);
}

#fps{
    position: absolute;
    margin-top: -2em;
    z-index: 1;
    color: yellow;
    text-shadow: 1px 1px 1px rgb(0,0, 80, 1.0);
    font: bold 20px fantasy;

    transition: opacity 5s;

    opacity: 0;
    display: none;
    z-index: 1;
    
}

